.modal-cont {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.modal-body {
    background-color: var(--deep-background-color-dark);
    width: 50%;
    height: 80%;
    border-radius: 1rem;

    color: white;
    opacity: 100%;
    position: relative;
}

.modal-func {
    padding: 1rem;
    padding-bottom: 2rem;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
