.chat-page{
    height: 100%;
    width: 100vw;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
}

.chat-page-title-cont{
    padding-top: 1rem;
    padding-left: 2rem;
    display: flex;
    color: white;
}

.chat-title-func-cont {
    width: 100%;
    display: flex;
    margin-left: 0;
    transition: 0.3s ease;
}

.chat-page-title {
    padding-left: 1rem;
}

.chat-box{
/*     background-color: beige;
 */ 
    color: white;   
    width: 100%;
    height: 100%;
    padding: 0 15%;
    padding-bottom: 5%;
    padding-top: 2%;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.2s ease-in-out;
}

.chat-ai {
    /* background-color: blue; */
    align-self: flex-start;
    border: 2px solid rgb(1, 253, 156);
    position: relative;
    max-width: 75%;

}

.chat-client {
    align-self: flex-end;
   /*  background-color: red; */
   max-width: 50%;

}

.chat-bubble {
    margin-bottom: 2rem;
    height: auto;
    background-color: rgb(43, 42, 42);
    border-radius: 10px;
    padding: 1rem;
}

.chat-input {
    background-color: rgb(43, 42, 42);
    border-radius: 10px;
    border: 2px solid transparent;
    width: 50%;
    height: 2rem;
    color: white;
    padding: 0 1rem;
    font-size: large;
    outline: none;
    transition: 0.3s ease-in-out;
}

.chat-input:focus {
    border-color: rgb(161, 161, 161);
}

.chat-send {
    height: 2rem;
    background-color: rgb(43, 42, 42);
    border-radius: 10px;
    border: 2px solid transparent;
    color: white;
    padding: 0 2rem;
    margin-left: 2rem;
    font-size: large;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;

}

.chat-send:hover {
    border-color: rgb(161, 161, 161);

}


.chatbox-cont {
/*     background-color: aquamarine;
 */    
    width: 100%;
    height: 4rem;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
}

.chat-model-cont {
    position: relative;
    height: 100%;
    align-items: center;
    display: flex;
}


.chat-model-btn {
    background-color: var(--button-color-dark);
    border: 0;
    color: rgba(255, 255, 255, 0.6);
    height: 50%;
    margin-left: 1rem;
    font-size: 100%;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    padding: 0 1rem;
    border-radius: 10px;
    z-index: 999;
}


.chat-model-select {
    background-color: var(--button-color-dark);
    position: absolute;
    overflow-y: scroll;
    height: 10rem;
    width: 15rem;
    margin-top: 4rem;
    margin-left: 1rem;
    left: 0;
    top: 0;
    border-radius: 10px;
    z-index: 989;
}

.chat-model-select-models {
    margin-top: 0.5rem;
    margin-bottom: 0;
    margin-left: 0.5rem;
    color: rgba(255, 255, 255, 0.6);
    
}








ul, ol{
    padding-left: 2rem;
  }

li {
    padding-top: 1rem;
}

h2, h3, h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}















.file-cont {
    background-color: beige;
}