.pipeline-options {
    margin-right: 1rem;
}

.pipeline-body-title {
    background-color: transparent;
    border: 0;
    margin-left: 0.5rem;
    font-size: x-large;
    color: white;
    font-weight: 700;
    max-width: 40%;
    width: 20%;
}

.pipeline-title-cont {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.pipeline-fav {
    margin-left: 1rem;
    font-size: large;
    font-weight: 700;
    background-color: rgb(10,10,10);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    border: 0;
}

.pipeline-faved {
    color: yellow;
}


.pipeline-body {
    background-color: rgb(10, 10, 10);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.pipeline-addlayer-btn {
    width: 95%;
    border: 0;
    height: 2em;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2rem;
    background-color: var(--button-color-dark);
    color: white;
    font-size: large;
    font-weight: 600;
    text-align: center;
    transition: 0.3s ease-in;
    margin-bottom: 1rem;
}

.pipeline-addlayer-btn:hover{
    background-color: var(--accent-color);
}

.pipeline-layers-cont {
    width: 100%;
    height: 100%;;
}

.pipeline-layers {
    width: 95%;
    border: 0;
    height: auto;
    max-height: 50%;
    border-radius: 10px;
    margin-top: 2rem;
    background-color: var(--button-color-dark);    
    color: white;
    font-size: large;
    font-weight: 600;
    padding: 1rem;
    position: relative;
}

.pipeline-layers-control {
    width: auto;
    max-width: 30%;
    height: 2rem;
    position: absolute;
    background-color: var(--deep-background-color-dark);
    display: flex;
    justify-content: center;
    text-align: center;
    left: 0;
    top: 0;
    border-radius: 10px 10px 10px 0;
    transform: translateY(-70%);
}



.pipeline-layers-btn {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    background-color: transparent;
    border: 0;
    transition: 0.3s ease-in;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
    color: white;
    transition: 0.3s ease-in;
}

.pipeline-layers-btn:hover {
    color: var(--accent-color);
}


.pipeline-layers-delete {
    background-color: var(--deep-background-color-dark);
    border-radius: 10px 10px 0 10px;
    height: 100%;
    overflow: hidden;
    transition: 0.2s ease-in;
    max-height: 100%;
    transform: translateY(5rem);
}




.pipeline-layers-btn-delete {
    height: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: transparent;
    border: 0;
    color: tomato;
}

.pipeline-delete-cont {
    display: block;
    width: auto;
    max-width: 30%;
    height: 2rem;;
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
    top: 0;
    border-radius: 10px 10px 0 10px;
    transform: translateY(-70%);
    color: tomato;
    transition: 0.3s ease-in;
    overflow: hidden;
}

.pipeline-delete-cont:hover .pipeline-layers-delete {
    transform: translateY(0);
}



.pipeline-sysprompt-text {
    margin-top: 0.5rem;
    width: 100%;
    height: 5em;
    padding: 0.5rem;
    border: 0;
    border-radius: 10px;
    resize: none;
    font-family: sans-serif;
    background-color: var(--deep-background-color-dark);
    color: white;
    font-size: medium;
    font-weight: 400;
}

.pipeline-ex-btn-panel {
    bottom: 0;
    left: 0;
    height: 2rem;
    width: 20%;
    float: right;
    margin-top: 1rem;
}

.pipeline-submit {
    border: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--button-color-dark);
    color:white;
    transition: 0.3s ease-in;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: 500;
}

.pipeline-submit:hover {
    background-color: var(--accent-color);
}

.pipeline-model-select {
    position: relative;
    max-width: 40%;
    height: 15%;
    background-color: var(--deep-background-color-dark);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.pipeline-model-options {

    transition: 0.3s ease-in-out;
}

.layer-model-select-cont {
    display: flex;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 0rem;
    top: 0;
    left:0;
    margin-top: 0;
    overflow-y: scroll;
    background-color: var(--deep-background-color-dark);
    border-radius: 10px;
    margin-top: 0.5rem;

}

.layer-model-select {
    padding: 0.5rem;

}

.model-option-toggle {
    height: 8rem;
}

.layer-model-items {
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.layer-model-items:hover {
    background-color: var(--accent-color);
}

.layer-model-option-cont {
    padding: 0.5rem;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.layer-model-options {
    display: flex;
    margin-left: 1rem;
    width: 100%;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.layer-option-inputs {
    background-color: var(--button-color-dark);
    border: 0;
    padding: 0.5rem;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    width: 5rem;
}

.layer-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layer-options-btn {
    height: 100%;
    background-color: var(--deep-background-color-dark);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
}

.pipeline-layer-seperator {
    margin: 0;
    margin-top: 1rem;
}

.pipeline-output-labal {
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem ;
    text-align: center;
    width: 6rem;
    background-color: var(--button-color-dark);
    font-size: large;
    font-weight: 800;
    border-radius: 5px;
    color: var(--accent-color);
}

.pipeline-saved-body {
    overflow-y: scroll;
    padding: 5%;
    height: 90%;
    background-color: rgb(10, 10, 10);
    color: white;
}

.saved-pipelines {
    margin-bottom: 0.5em;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.saved-pipelines:hover {
    background-color: var(--accent-color);
}

.layer-model-option-toggle {
    background-color: var(--button-color-dark);
    width: 50%;
    border: 0;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 0.5rem;
    transition: 0.3s ease-in;
}

.layer-model-option-toggle:last-child{
    margin-left: 0.5rem;
}


.layer-model-option-toggle:hover {
    background-color: var(--accent-color);
}

.layer-model-option-open {
    color: var(--accent-color);
}